<br>
<br>
<br>
<br>

<h4> <%= feed.get("title") %> </h4>
<ul id="entries">
	<% entries.each(function(entry) { %>
	  <li class='entry short' data-id="<%= entry.id %>">
		  <%= entry.get("title") %>
			<div class='hidden extra-info'>
				<a href="<%= entry.escape("link") %>">Link</a>
				<%= entry.get("title") %>
				<%= entry.get("pubDate") %>
				<%= entry.get("comments") %>
			</div>
	  </li>
	<% }); %>
</ul>